---
// src/components/weather/UnitSelector.astro
import Icon from "../ui/Icon.astro";
import Options from "./ui_button/Options.astro";

const TemperatureOptions = [
    { label: "Celsius (°C)", dataunit: "celsius" },
    { label: "Fahrenheit (°F)", dataunit: "fahrenheit" },
];

const WindOptions = [
    { label: "km/h", dataunit: "kmh" },
    { label: "mph", dataunit: "mph" },
];

const PrecipitationOptions = [
    { label: "Milimeter (mm)", dataunit: "mm" },
    { label: "Inch (in)", dataunit: "inch" },
];

// Recibimos la unidad actual para saber cuál marcar con el "check"
interface Props {
    currentUnit: "metric" | "imperial";
}

const { currentUnit } = Astro.props;
const isMetric = currentUnit === "metric";

const currentTemp = "celsius";
const currentWind = "kmh";
const currentPrecip = "mm";
---

<dropdown class="relative inline-block text-left z-50 group ml-100">
    <button
        class="font-DMSans inline-flex w-full justify-center align-center gap-2 rounded-md bg-white/10 px-2 py-1 text-sm text-white inset-ring-1 inset-ring-white/5 hover:bg-white/20 hover:border-black hover:border-solid hover:border-2 hover:ring-2 hover:ring-white"
    >
        <Icon name="units" class="w-3 h-5 text-white" />
        <span>Units</span>
        <Icon name="dropdown" class="w-2.5 h-5 text-white align-center" />
    </button>

    <menu
        class="absolute right-0 top-full mt-2 group-hover:block hidden group-focus-within:block w-48 origin-top-right divide-y divide-white/10 rounded-md bg-white/10 outline-1 border border-white/30 transition transition-discrete backdrop-blur-md shadow-sm shadow-white/20"
    >
        <div class="p-1">
            <button
                class="border-hover rounded-md block w-full text-left px-2 py-1 text-sm text-gray-300 hover:bg-white/5 hover:text-white transition-colors"
                id="unit-toggle"
            >
                Switch to {isMetric ? "imperial" : "metric"}
            </button>
        </div>
        <Options
            title="Temperature"
            options={TemperatureOptions}
            activeUnit={currentTemp}
        />
        <Options
            title="Wind speed"
            options={WindOptions}
            activeUnit={currentWind}
        />
        <Options
            title="Precipitation"
            options={PrecipitationOptions}
            activeUnit={currentPrecip}
        />
    </menu>
</dropdown>
